<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%= vite_client_tag %>
  <%= vite_stylesheet_tag 'login_page.scss' %>
</head>
<body>
<%= vite_image_tag 'images/login/treasure.png', id: "treasure" %>
<%= render 'shared/flash' %>
<h1>welcome ashore...</h1>
<form action="/back_office/auth/hackclub" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <button type="submit">log in with hack club?</button>
</form>
</body>
</html>
