<%= form_with(url: buy_indicia_letter_path(letter), method: :post) do |form| %>
  <% if current_user.hcb_payment_accounts.any? %>
    <div class="form-field">
      <%= render Primer::Alpha::Select.new(
        name: "hcb_payment_account_id",
        label: "Pay with HCB Organization",
        full_width: true,
        required: true
      ) do |select|
        select.with_option(value: "", label: "Select organization...")
        current_user.hcb_payment_accounts.each do |account|
          select.with_option(value: account.id.to_s, label: account.organization_name)
        end
      end %>
    </div>

    <div class="form-field">
      <%= render Primer::Alpha::Select.new(
        name: "usps_payment_account_id",
        label: "USPS Payment Account",
        full_width: true,
        required: true
      ) do |select|
        USPS::PaymentAccount.all.each do |account|
          select.with_option(value: account.id.to_s, label: account.name, selected: account.id == USPS::PaymentAccount.first&.id)
        end
      end %>
    </div>

    <%= render Primer::Beta::Button.new(type: :submit, scheme: :primary, block: true) do |btn|
      btn.with_leading_visual_icon(icon: :credit_card)
      "Buy Indicia"
    end %>
  <% else %>
    <%= render Primer::Beta::Blankslate.new do |blankslate|
      blankslate.with_description { "Connect your HCB account to purchase postage." }
      blankslate.with_primary_action(href: new_hcb_oauth_connection_path, scheme: :secondary, size: :small) { "Connect HCB" }
    end %>
  <% end %>
<% end %>
