<div id="<%= dom_id letter %>" class="index-card">
  <div class="index-card-header">
    <a href="<%= letter_path(letter) %>" class="index-card-title">
      <% if letter.user_facing_title.present? %>
        <%= letter.user_facing_title %>
      <% else %>
        <%= letter.public_id %> to <%= letter.address.name_line %>
      <% end %>
    </a>
    <% status_scheme = { pending: :secondary, printed: :accent, mailed: :success, received: :done, canceled: :attention, errored: :danger }[letter.aasm_state.to_sym] || :secondary %>
    <%= render(Primer::Beta::Label.new(scheme: status_scheme, size: :small)) { letter.aasm_state.humanize } %>
  </div>

  <div class="index-card-meta">
    <span>From: <%= letter.return_address.present? ? letter.return_address_name_line : 'N/A' %></span>
    <span><%= time_ago_in_words(letter.created_at) %> ago</span>
    <span><%= letter.height %>" x <%= letter.width %>"</span>
  </div>

  <% if letter.tags.present? %>
    <div class="tags-row" style="margin-top: 6px; margin-bottom: 0;">
      <% letter.tags.compact_blank.each do |tag| %>
        <%= render(Primer::Beta::Label.new(scheme: :secondary, size: :small)) { tag } %>
      <% end %>
    </div>
  <% end %>
</div>
