<div id="<%= dom_id mailer_id %>" class="mailer-id-card">
  <div class="mailer-id-row">
    <a href="<%= usps_mailer_id_path(mailer_id) %>" class="accent-link"><%= mailer_id.name %></a>
    <div class="mailer-id-codes text-sm">
      <span>CRID: <code><%= mailer_id.crid %></code></span>
      <span>MID: <code><%= mailer_id.mid %></code></span>
    </div>
  </div>
</div>
