<%= form_with(model: warehouse_template) do |form| %>
  <% if warehouse_template.errors.any? %>
    <%= render Primer::Beta::Flash.new(scheme: :danger, full: true, mb: 3) do %>
      <strong><%= pluralize(warehouse_template.errors.count, "error") %> prohibited this template from being saved:</strong>
      <ul class="error-list">
        <% warehouse_template.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>

  <%= render Primer::Beta::BorderBox.new(mb: 4) do |box| %>
    <% box.with_header do |header| %>
      <% header.with_title(tag: :h2) do %>Template Details<% end %>
    <% end %>
    <% box.with_body do %>
      <%= render Primer::Alpha::TextField.new(
        name: "warehouse_template[name]",
        label: "Template name",
        value: warehouse_template.name,
        full_width: true,
        required: true,
        mb: 3
      ) %>

      <%= render Primer::Alpha::CheckBox.new(
        name: "warehouse_template[public]",
        label: "Share this template with all users",
        checked: warehouse_template.public
      ) %>
    <% end %>
  <% end %>

  <%= render Primer::Beta::BorderBox.new(mb: 4) do |box| %>
    <% box.with_header do |header| %>
      <% header.with_title(tag: :h2) do %>Contents<% end %>
    <% end %>
    <% box.with_body do %>
      <%= render Components::Warehouse::LineItemsEditor.new(
        form: form,
        scope: :in_inventory,
        show_unit_cost: false,
        add_button_text: "Add Item"
      ) %>
    <% end %>
  <% end %>

  <div class="page-actions">
    <%= render Primer::Beta::Button.new(tag: :a, href: warehouse_templates_path, scheme: :secondary) do
      "Cancel"
    end %>
    <%= render Primer::Beta::Button.new(type: :submit, scheme: :primary) do |btn|
      btn.with_leading_visual_icon(icon: :check)
      warehouse_template.persisted? ? "Update Template" : "Create Template"
    end %>
  </div>
<% end %>
