<article id="<%= dom_id template %>" class="card">
  <header class="card-header">
    <h3 class="mb-0"><%= link_to template.name, template, class: "text-decoration-none" %></h3>
  </header>
  <div class="card-body">
    <div class="grid">
      <div>
        <small class="text-muted">User</small>
        <%= render 'shared/user_mention', user: template.user %>
      </div>
    </div>
    <div class="mt-4">
      <small class="text-muted">Contents:</small>
      <%= render 'warehouse/orders/line_items', order: template %>
    </div>
    <div class="mt-4">
      <small class="text-muted">API ID:</small>
      <%= render Components::Shared::PublicId.new(value: template.public_id) %>
    </div>
  </div>
</article>
