<div id="<%= dom_id indicium %>" class="index-card">
  <div class="index-card-header">
    <%= render Components::Shared::PublicId.new(value: indicium.public_id) %>
    <span class="fw-semibold"><%= number_to_currency(indicium.postage) %></span>
  </div>
  <div class="index-card-meta">
    <span>SKU: <code class="mono"><%= indicium.usps_sku %></code></span>
    <span><%= indicium.mailing_date %></span>
    <span><%= indicium.processing_category %></span>
  </div>
</div>
