<%= render Primer::Beta::BorderBox.new do |box| %>
  <% box.with_header do %>
    <div class="batch-table-row">
      <span class="batch-col-name" style="font-weight: 600;">Name</span>
      <span class="batch-col-addr" style="font-weight: 600;">Address</span>
      <span class="batch-col-md" style="font-weight: 600;">City</span>
      <span class="batch-col-sm" style="font-weight: 600;">State</span>
      <span class="batch-col-md" style="font-weight: 600;">Postal Code</span>
      <span class="batch-col-sm" style="font-weight: 600;">Country</span>
    </div>
  <% end %>
  <% addresses.each do |address| %>
    <% box.with_row do %>
      <div class="batch-table-row" style="font-size: 13px;">
        <span class="batch-col-name"><%= "#{address.first_name} #{address.last_name}" %></span>
        <span class="batch-col-addr">
          <%= address.line_1 %>
          <% if address.line_2.present? %>
            <br><%= address.line_2 %>
          <% end %>
        </span>
        <span class="batch-col-md"><%= address.city %></span>
        <span class="batch-col-sm"><%= address.state %></span>
        <span class="batch-col-md mono"><%= address.postal_code %></span>
        <span class="batch-col-sm"><%= address.country %></span>
      </div>
    <% end %>
  <% end %>
<% end %>
