<div class="window" style="width: 320px">
  <div class="title-bar">
    <div class="title-bar-text">Hack Club Mail!</div>
  </div>
  <div class="window-body">
    <% if current_public_user %>
      <p>you're currently signed in as <b><%= current_public_user.email %></b></p>
      <b> Would you like to...</b>
      <ul>
        <li>
          <p>view <%= link_to "your mail", my_mail_path %>?</p>
        </li>
        <li>
          set up an <%= link_to "API key", public_api_keys_path %>?
        </li>
      </ul>
      <%= button_to "log out?", public_logout_path, { method: :delete } %>
    <% else %>
      <p>if you're interested in <b>your</b> mail in particular, you can always...</p>
      <%= link_to public_login_path do %>
        <button>log in with email</button>
      <% end %>
      <form action="/auth/public_hackclub" method="post" style="display: inline">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <button type="submit">log in with hack club auth</button>
      </form>
    <% end %>
  </div>
</div>
<div class="window" style="width: 320px;">
  <div class="title-bar">
    <div class="title-bar-text">Letterboard</div>
  </div>
  <div class="window-body" style="padding: 0">
    <iframe src="<%= this_week_leaderboards_path %>" title="Letterboard"></iframe>
  </div>
</div>
<div class="window" style="width: 320px;">
  <div class="title-bar">
    <div class="title-bar-text">Map</div>
    <div class="title-bar-controls">
      <%= w95_title_button_to("Maximize", map_path) %>
    </div>
  </div>
  <div class="window-body" style="padding: 0">
    <iframe id="map-iframe" data-src="<%= map_path %>" style="width: 320px; height: 200px; border: none;" title="Letter Tracking Map"></iframe>
  </div>
</div>
<script>
  window.addEventListener("load", function() {
    var iframe = document.getElementById("map-iframe");
    if (iframe) iframe.src = iframe.dataset.src;
  });
</script>