<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Theseus" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <%= vite_stylesheet_tag 'app_style.scss' %>


  </head>

  <body<% if Rails.env.development? %> class="not_prod"<% end %>>
    <% if Rails.env.development? %>
      <div class="dev-border-overlay"></div>
    <% end %>
    
    <div class="app-layout">
      <%= render "shared/nav" %>

      <div class="content-wrapper">
        <main class="content-container">
          <%= render "shared/hcb_connection_banner" %>
          <%= render "shared/flash" %>
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
